@model MatRoleClaim.Models.Cource

@{
    ViewBag.Title = "View Cource";
}
<div class="m-5">

    <h2>View Cource</h2>

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CourceCategory.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourceCategory.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SysllabusLink)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SysllabusLink)
            </dd>

            <h3>Assigned Members</h3>
            <h4>Trainer</h4>
            <hr />
            @if (ViewBag.Trainer != null)
            {
                foreach (var item in ViewBag.Trainer)
                {
                    <p>@item.Trainer.UserName</p>
                }
            }

            <h4>Trainee</h4>
            <hr />
            @if (ViewBag.Trainee != null)
            {
                foreach (var item in ViewBag.Trainee)
                {
                    <p>@item.UserTrainees.UserName</p>
                }
            }
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
